/* 公共部分 */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 1200px;
  /* border: red solid 2px; */
  display: flex;
  justify-content: space-between;
}

/* header 开始 */
header {
  height: 40px;
  background: #333333;
}

header a {
  font-size: 12px;
  color: #ffffff;
}

header ul li {
  float: left;
}

/* header ul li span{
    color: #ffffff;
    font-size: 12px;
    margin: 0 20px;
}
header ul li:last-child span{
    display: none;
} */

header ul li::after {
  content: "|";
  color: #ffffff;
  font-size: 12px;
  margin: 0 6px;
}

header ul li:last-child::after {
  content: none;
}

/* header 结束 */

/* nav 开始 */

/* nav 结束 */
nav {
  height: 100px;
}

nav img.logo {
  width: 187px;
  height: 55px;
}

nav ul {
  width: 470px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .nav-list li a {
  color: #212121;
  font-size: 18px;
}

nav .nav-list li a:hover {
  color: #e94400;
}
nav .sub-toggle {
  position: relative;
}
nav .sub-toggle > a {
  padding-bottom: 30px;
}
nav .sub-toggle:hover .sub-menu {
  display: flex;
}
nav .sub-menu {
  flex-direction: column;
  align-items: stretch;
  position: absolute;
  width: 150px;
  height: 80px;
  padding: 10px 0;
  background: #fff;
  border: 1px #e5e5e5 solid;
  border-radius: 2px;
  left: -60px;
  top: 40px;

  display: none;
}
nav .sub-menu:hover {
  display: flex;
}
nav .sub-menu::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background: #ffffff;
  border: 1px #e5e5e5 solid;
  border-right: none;
  border-bottom: none;
  transform: rotate(45deg);
  position: absolute;
  top: -6px;
  left: 70px;
}
nav .sub-menu li {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .sub-menu li:hover {
  background: #eeeeee;
}
nav .sub-menu li a {
  font-size: 16px;
}
nav .sub-menu li:hover a {
  color: #e94400;
}

/* banner 开始 */

/* #banner img {
  margin-left: -500px;
}
#banner {
  position: relative;
}
#banner h2 {
  position: absolute;
  top: 200px;
} 
*/

#banner {
  height: 640px;
  background: url(../images/banner.jpg) center;
  text-align: center;
  overflow: hidden;
}

#banner h2 {
  font-size: 54px;
  color: #ffffff;
  font-weight: 300;
  margin-top: 190px;
}
#banner button {
  color: #fff;
  font-size: 24px;
  background: #f93f2b;
  width: 260px;
  height: 60px;
  line-height: 60px;
  border-radius: 5px;
  margin-top: 36px;
  border: none;
  outline: none;
}
#banner button:hover {
  background: rgb(214, 54, 36);
  cursor: pointer;
}
#banner button:hover + h3 {
  /* opacity: 1;   */
  display: block;
}
#banner h3 {
  /* 元素不占空间（相当于 html 当中没有这个元素） */
  display: none;
  /* 元素占空间 */
  /* visibility: hidden; */

  /* opacity: 0; */
}
/* #banner .triangle{
    border-width: 0;
} */
/* #banner .triangle{
    width: 0;
    border-top: 50px red solid;
} */

#banner .triangle {
  /* width: 50px;
   height: 50px;
   background: #000;
   transform: rotate(45deg);
   position: absolute;
   top: -28px;
   left: 50px;
   z-index: 9; */

  width: 0;
  height: 0;
  border: 40px solid;
  border-color: orange blue red green;
  border-color: transparent transparent red;
}
#banner .box {
  /* position: relative; */
}
#banner .aa {
  /* height: 50px;
    position: relative;
    z-index: 10;
    background: rgb(151, 43, 43); */
}

/* banner 结束 */

/* main 开始 */
main .section {
  box-sizing: border-box;
  padding: 30px;
  background: #ffffff;
  border: 1px #e5e5e5 solid;
  margin-top: -80px;
}
.section .bg {
  display: block;
  width: 360px;
  height: 180px;
  background: url(../images/bg1.png);
  color: #ffffff;
  font-size: 33px;
  box-sizing: border-box;
  padding: 30px;
}
.section li:nth-child(2) .bg {
  background: url(../images/bg2.png);
}
.section .bg h5 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.content {
  border-bottom: 1px solid #e5e5e5;
  margin: 20px;
  padding-bottom: 10px;
}
.content li {
  margin-bottom: 20px;
}

.content .main {
  color: orange;
  border-right: 1px solid #333;
  padding-right: 20px;
}

.content span {
  padding: 0 20px;
}
.content .desc {
  margin-left: 20px;
  color: #333333;
}

.section li .more {
  display: block;
  text-align: center;
  color: #fd3911;
}

/* main 结束 */

/* footer  开始 */
footer {
  margin-top: 50px;
}
footer img {
  width: 46px;
  height: 46px;
  float: left;
}
footer ul {
  margin-left: 50px;
  display: flex;
}
footer ul li::after {
  content: "|";
  padding: 0 10px;
}
footer ul li:last-child:after{
    content: none;
}
/* footer 结束 */
